
         /* BUTTON  */

.new-schedule{
 float: right;
 background-color: #00BFFF;
 outline: none;
 border: none;
cursor: pointer;
width: 180px;
height: 45px;
font-size: 1rem;
font-weight: 600;
color: #ffffff;
text-decoration: none;
}

.new-schedule:hover{
    background-color: #c0c0c0;
    transition: all 1s ease;
}
