body{
    padding: 0;
    margin: 0;
    background:url(../img/paint-345296_1920.jpg);
    background-repeat: no-repeat;
    opacity: 99%;
    background-size: 100%;
}
.container {

    position: relative;
    opacity: 99%;
    max-width: 1024px;
    height: 600px;
    margin: 200px auto 100px;
    border-radius: 30px ;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
 }

/* ============= AREA LOGIN =========== */
.area-login{
    width: 405px;
    height: 100%;
    float: left;
    background: #00BFFF;
    border-radius: 30px 0 0 30px;
}

                /* -- LOGO -- */
.logo{
    background: url(../img/large2.png)no-repeat;
    width: 300px;
    height: 250px;
    margin: 60px auto;
}
                /* -- LOGIN -- */

.login{
    width: 300px;
    margin: 0 auto;
}

.login input[type="email"], input[type="password"]{
    outline: 0;
    border-radius: 30px;
    background: #c0c0c0;
    width: 80%;
    border: 0;
    margin: 0 0 10px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 14px;
}

.login input[type="email"]:hover, input[type="password"]:hover{
    background-color: #FFF;
    transition: all 1s ease 0s;
}

.login input[type="email"]:focus, input[type="password"]:focus{
    background-color: #FFF;
    transition: all 1s ease 0s;
}

.login input[type="submit"]{
    text-transform: uppercase;
    outline: 0;
    border-radius: 30px;
    background-color: crimson;
    width: 25%;
    border: 0;
    padding: 8px;
    color: #FFF;
    font-size: 13px;
    font-style: italic;
    font-weight: 700;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    float: right;
    box-sizing: border-box;
    overflow: hidden;
}
.login input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus{
    background-color: #00BFFF;
    transition: background 1s ease-in 0s;
}

.login p {
    margin: 0 0 5px;
    padding: 1px;
    text-align: left;
}

.login a:link, a:visited, a:active {
    font-size: 15px;
    text-decoration: none;
    font-style: italic;
    font-weight: 700;
    color: crimson;
}

.login a:hover{
    color: #FFF;
}

/* ============= FEEDBACK =========== */

.feedbacks{
    width: 619px;
    height: 100%;
    background: #FFF;
    float: right;
    border-radius: 0 30px 30px 0;
}

.feedback {
    width: 500px;
    margin: 0 auto;
}

.feedback-img{
    background: coral;
    width: 350px;
    height: 300px;
    margin: 50px auto;

}