.container-schedule{
    width: 95%;
    height: 90%;
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

}

.all-schedule{
    width: 75%;
    height: 85%;
    margin: 50px auto;
}

.all-schedule h1 { 
    color: #00bfff;
    font-style: italic;
    letter-spacing: 1px;
    border-bottom: 2px solid #c0c0c0 ;
}

.history-schedule{
    display: grid;
    grid: 250px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    align-items: left;
    width: 100%;
    height: 160px;
}



   /* MODAL */
   
   .new-consulta{
       height: 75%;
       width: 100%;
       display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.new-consulta h2{
    color: #00bfff;
    margin: 0;
}



         /* BUTTON  */

.new-schedule{
 float: right;
 background-color: #00BFFF;
 outline: none;
 border: none;
cursor: pointer;
width: 180px;
height: 45px;
font-size: 1rem;
font-weight: 600;
color: #ffffff;
text-decoration: none;
}

.new-schedule:hover{
    background-color: #c0c0c0;
    transition: all 1s ease;
}

.btn-cancelar {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: red;
}

.btn-cancelar:hover{
    font-weight: 600;
}