.app {
    padding: 0;
    margin: 0;
    background: conic-gradient(from 113.98deg at 50% 50%, #ADD0E3 0deg, rgba(173, 208, 227, 0) 360deg);
    overflow-y:hidden;
    height: 100vh;
  }

.home,
.newpacient,
.schedule,
.perfil{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  box-sizing: border-box;
}